:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
html {
  /* 62.5% of 16px=10px */
  font-size: 62.5%;
}
 body { 
  font-family: inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 1024px;) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/* badges */
.badges {
  /* border redius mtlb cone ko curv krna  */
  border-radius: 20px;
  padding: 1rem;
/* phle bold tha phir html link wale me edit kiye */
   font-weight: 600 
  white-space: nowrap;
  /* nowrape ka mtlb ek hi line me */
  font-size: 2rem;
}
.badges--primary {
  background-color: var(--color-primary);
  color: white;
}
.badges--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.badges--small {
  font-size: 1.6rem;
}
.arrow-link{
  color:var(--color-accent);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
.arrow-link::after{
  content: "-->";
  /* margine left shoud be for arror spt fo text */
  margin-left: 5px;
  /* 0.15 for timing to move a arrow */
  transition:margin 0.15 sec;
}
/* hover folting animation ke liye use hua h */
.arrow-link:hover::after{
  margin-left:10px ;
}
