* {
  margin: 0%;
  padding: 0%;
}
.big-img {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(/banner.png);
  background-size: cover;
}
.overlay {
  display: flex;
  text-align: center;
}

lllllllll
